* {
	margin: 0px;
	padding: 0px;
	font-family: 'DejaVu Sans', 'BrandonGrotesqueLightRegular', arial, sans;
	font-weight: lighter;
}
body {
	background-color: #EEEEEE;
}
em {
	font-weight: lighter;
	font-style: italic;
}
a {
	text-decoration: none;
}
p {
	font-size: 11pt;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'DejaVu Sans',	'BrandonGrotesqueLightRegular', verdana, arial, sans;
}
th {
	border-bottom: 1px solid #EEEEEE;
	padding-right: 1em;
}
#header {
	position: relative;
	width: 960px;
	height: 64px;
	margin: 0px auto;
	background-image: url('images/logo-orange.png');
}
#menu {
	float: right;
	display: block;
	position: absolute;
	bottom: 0px;
	right: 1em;
}
#menu li {
	display: inline;
	font-size: 12pt;
}
#menu li a {
	color: #DDDDDD;
	border: 0;
	text-decoration: none;
}
#menu li a:hover {
	color: white;
}
#wrapper {
	width: 958px;
	margin: 0px auto 1em;
	background-color: white;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
#selector {
	border: 1px solid #DDDDDD;
	margin: 1em auto;
	width: 768px;
	padding-top: 0.5em;
	padding-left: 0.5em;
}
#presentation {
	width: 600px;
	padding: 1em;
	margin: 1em auto 2em;
	border: 1px solid #DDDDDD;
}
#presentation img {
	display: block;
	margin: 0px auto;
}
#presentation p {
	margin-bottom: 1em;
}
#presentation h3, .total {
	color: red;
}
#add {
	border: 1px solid #DDDDDD;
	padding: 0.2em;
}
#add ul li {
	display: inline;
}
#add input[type="text"] {
	width: 64px;
	border: 1px solid #DDDDDD;
	background-color: white;
}
#add select {
	width: 64px;
	border: 1px solid #DDDDDD;
	background-color: white;
}
#add input[type="submit"] {
	border: 1px solid #DDDDDD;
	background-color: #EEEEEE;
	cursor: pointer;
	float: right;
}
#add input[type="submit"]:hover {
	border: 1px solid silver;
}
#home {
	float: left;
	display: block;
	width: 300px;
	height: 64px;
}
#quickbasket {
	position: absolute;
	right: 1em;
	top: 4px;
}
#quickbasket {
	font-size: 12pt;
}
#quickbasket p a {
	color: #DDDDDD;
	border: 0;
	text-decoration: none;
}
#quickbasket p a:hover {
	color: white;
}
.product {
	float: left;
	border: 1px solid #DDDDDD;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	width: 48px;
	height: 48px;
}
.product:hover {
	border: 1px solid silver;
}
.product img {
	border: none;
}
.clearer {
	clear: both;
}
.text{
	padding: 1em;
}
.text p {
	margin-bottom: 1em;
}
.text h2 {
	margin-bottom: 0.2em;
}